@import "./reset.scss";
@import "./variables.scss";

/* mixin */
@mixin innerContents {
  .contents-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    .title {
      color: map-get($map: $color, $key: theme);
      font: 500 1.4rem/1 "arial";
    }
    .subtitle {
      font: normal 1.4rem/1 "arial";
    }
  }
}

/* common */
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
  body {
    font-size: 1.6rem;
  }
}

#wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  #wrapper-header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include innerContents;
    .header-line {
      width: 50%;
      border-top: 1px solid map-get($map: $color, $key: gray);
      margin: 4px 0;
    }
    .header-body {
      font-size: 1.3rem;
      padding-left: 20px;
      display: flex;
      justify-content: space-between;
      ul {
        width: 50%;
      }
      table {
        width: 50%;
        border-collapse: collapse;
        text-align: left;
        font: 600 1.2rem/1 "arial";
        th,
        td {
          padding: 6px;
          color: map-get($map: $color, $key: name);
        }
      }
    }
  }
  #wrapper-body {
    width: 100%;
    height: 180px;
    @include innerContents;
    .video {
      width: 100%;
      height: 200px;
      background: url("../contents/miniroom.png") center/cover no-repeat;
      margin-top: 5px;
    }
  }
  #wrapper-footer {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .footer-title {
      display: flex;
      justify-content: flex-start;
      .title {
        color: map-get($map: $color, $key: theme);
        margin-right: 10px;
        line-height: 1.5;
      }
      .footer-subtitle {
        font: 600 1.2rem/2.5 "arial";
      }
    }
    .footer-text {
      color: map-get($map: $color, $key: gray);
      font: 500 1.3rem/1.3 "arial";
      margin-top: 2px;
      span {
        color: map-get($map: $color, $key: theme);
        font-weight: 600;
      }
    }
  }
}
