@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* mixin */
/* common */
html,
body {
  width: 100%;
  height: 100%;
}

ul,
li {
  list-style: none;
}

html {
  font-size: 62.5%;
}
html body {
  font-size: 1.6rem;
}

#wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* 리스트 스타일 */
  /* 리스트 아이템 */
  /* 앨범 이미지 */
  /* 제목 및 가수 정보 */
}
#wrapper #wrapper-header {
  width: 100%;
  height: 40px;
}
#wrapper #wrapper-header .contents-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
#wrapper #wrapper-header .contents-title .title {
  color: #55b2e4;
  font: bold 1.4rem/1 "arial";
}
#wrapper #wrapper-header .contents-title .subtitle {
  font: normal 1.4rem/1 "arial";
}
#wrapper #wrapper-header .header-line {
  width: 100%;
  border-top: 1px solid #808080;
  margin: 4px 0;
}
#wrapper .music-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #fff;
  padding: 0px;
  box-sizing: border-box;
}
#wrapper .select-all-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #071878;
  font: bold 1.4rem/1 "arial";
  cursor: pointer;
}
#wrapper .select-all-container input {
  width: 12px;
  height: 12px;
  margin: 4px;
  cursor: pointer;
}
#wrapper .music-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
#wrapper .music-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  transition: all 0.3s;
}
#wrapper .music-item:hover {
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
}
#wrapper .music-item > input[type=checkbox] {
  width: 12px;
  height: 12px;
  margin: 4px;
  cursor: pointer;
}
#wrapper .album-cover {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
#wrapper .music-info {
  cursor: pointer;
}
#wrapper .music-info .title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #0a4f76;
}
#wrapper .music-info .artist {
  font-size: 1.2rem;
  color: #555;
}