@import "./styles/reset.scss";
@import "./styles/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* common */
html {
  font-size: 62.5%;
  body {
    font-size: 1.6rem;
  }
}

#container {
  height: 100vh;
  background: url("./contents/background.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  #outer {
    width: 807px;
    height: 544px;
    background: url("./contents/outerbox.png") center/cover no-repeat;
    position: relative;
    #inner {
      display: flex;
      padding: 36px;
    }
  }
}

/* ==== inner-left ==== */
#inner-left {
  width: 203px;
  height: 468px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .inner-left-header {
    width: 100%;
    height: 26px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 0.75rem;
    line-height: 3.5;
    font-family: map-get($map: $font, $key: press-font-family);
    .zero {
      color: map-get($map: $color, $key: accent);
    }
  }
  .inner-left-body {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
    height: 100%;
    border: 1px solid map-get($map: $color, $key: dark);
    border-radius: 14px;
    padding: 15px;
    .left-body-title {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title-img {
        width: 170px;
        height: 143px;
        background: url("./contents/smile.png") center/cover no-repeat;
        border-radius: 8px;
      }
    }
    .left-body-profile {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .profile-tag {
        width: 100%;
        text-align: center;
        padding: 4px 8px;
        border: 2px solid map-get($map: $color, $key: gray);
        border-radius: 4px;
        box-shadow: 0 0 8px rgba($color: lightgray, $alpha: 0.8);
        font-size: 1rem;
        em {
          color: map-get($map: $color, $key: theme);
          font: 700 1rem/1 "arial";
          text-transform: uppercase;
        }
      }
      .profile-detail {
        display: flex;
        align-items: center;
        font-family: map-get($map: $font, $key: embed-font-family);
        span {
          margin: 5px 10px 10px 10px;
          text-align: left;
          font-size: 1.5rem;
          line-height: 2.8rem;
          -ms-user-select: none;
          -moz-user-select: -moz-none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          user-select: none;
        }
      }
      .profile-history {
        height: 20px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        span {
          text-transform: uppercase;
          font-size: 1.2rem;
          font-weight: bold;
          line-height: 2.2rem;
          .fa-caret-right {
            width: 15px;
            height: 15px;
            font-size: 1rem;
            color: map-get($map: $color, $key: hisBtn);
            cursor: pointer;
          }
        }
        div {
          text-align: center;
          padding: 2px;
          i {
            width: 15px;
            height: 15px;
            font-size: 1rem;
            color: map-get($map: $color, $key: gray);
            line-height: 1.5rem;
            cursor: pointer;
            &:first-child {
              margin-right: -5px;
            }
            &:last-child {
              margin-left: -5px;
            }
          }
        }
      }
      .profile-name {
        font-size: 1.5rem;
        font-weight: bold;
        color: map-get($map: $color, $key: name);
        padding: 10px 4px;
      }
    }
    .left-body-footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px;
      background: map-get($map: $color, $key: footerBg);
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

      .music-controller {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;

        .control-btn {
          font-size: 1.6rem;
          cursor: pointer;
        }

        .progress-bar {
          width: 60px;
          height: 5px;
          background: map-get($map: $color, $key: progress);
          position: relative;
          cursor: pointer;

          .progress {
            width: 0%;
            height: 100%;
            background: map-get($map: $color, $key: footerBg);
          }
        }

        .volume-control {
          display: flex;
          align-items: center;
          gap: 10px;

          input {
            width: 60px;
          }
        }
      }
    }
  }
}

/* ==== inner-right ==== */
#inner-right {
  width: 524px;
  height: 472px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  .inner-right-header {
    display: flex;
    justify-content: space-between;
    .header-title {
      color: map-get($map: $color, $key: theme);
      font-weight: nomal;
    }
    .header-privacy {
      font-size: 1rem;
      line-height: 2;
      padding-right: 3px;
      color: map-get($map: $color, $key: gray);
    }
  }
  .inner-right-body {
    width: 100%;
    height: 445px;
    border: 1px solid map-get($map: $color, $key: dark);
    border-radius: 14px;
    background: map-get($map: $color, $key: light);
    iframe {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 8px;
    }
  }
}

/* ==== navigation ==== */
#navigation {
  width: 70px;
  height: 140px;
  position: absolute;
  top: 20%;
  right: -69px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .navigation-item {
    background: map-get($map: $color, $key: theme);
    color: map-get($map: $color, $key: light);
    text-align: center;
    line-height: 30px;
    border: 1px solid map-get($map: $color, $key: dark);
    border-radius: 0 10px 10px 0;
    font-size: 1.6rem;
    cursor: pointer;
  }
}
