@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
html {
  font-size: 62.5%;
}
html body {
  font-size: 1.6rem;
}

#container {
  height: 100vh;
  background: url("./contents/background.png") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container #outer {
  width: 807px;
  height: 544px;
  background: url("./contents/outerbox.png") center/cover no-repeat;
  position: relative;
}
#container #outer #inner {
  display: flex;
  padding: 36px;
}

/* ==== inner-left ==== */
#inner-left {
  width: 203px;
  height: 468px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#inner-left .inner-left-header {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  line-height: 3.5;
  font-family: "Press Start 2P";
}
#inner-left .inner-left-header .zero {
  color: #dc143c;
}
#inner-left .inner-left-body {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 14px;
  padding: 15px;
}
#inner-left .inner-left-body .left-body-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#inner-left .inner-left-body .left-body-title .title-img {
  width: 170px;
  height: 143px;
  background: url("./contents/smile.png") center/cover no-repeat;
  border-radius: 8px;
}
#inner-left .inner-left-body .left-body-profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#inner-left .inner-left-body .left-body-profile .profile-tag {
  width: 100%;
  text-align: center;
  padding: 4px 8px;
  border: 2px solid #808080;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(211, 211, 211, 0.8);
  font-size: 1rem;
}
#inner-left .inner-left-body .left-body-profile .profile-tag em {
  color: #55b2e4;
  font: 700 1rem/1 "arial";
  text-transform: uppercase;
}
#inner-left .inner-left-body .left-body-profile .profile-detail {
  display: flex;
  align-items: center;
  font-family: "Nanum Brush Script";
}
#inner-left .inner-left-body .left-body-profile .profile-detail span {
  margin: 5px 10px 10px 10px;
  text-align: left;
  font-size: 1.5rem;
  line-height: 2.8rem;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
#inner-left .inner-left-body .left-body-profile .profile-history {
  height: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
#inner-left .inner-left-body .left-body-profile .profile-history span {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.2rem;
}
#inner-left .inner-left-body .left-body-profile .profile-history span .fa-caret-right {
  width: 15px;
  height: 15px;
  font-size: 1rem;
  color: #ff9a16;
  cursor: pointer;
}
#inner-left .inner-left-body .left-body-profile .profile-history div {
  text-align: center;
  padding: 2px;
}
#inner-left .inner-left-body .left-body-profile .profile-history div i {
  width: 15px;
  height: 15px;
  font-size: 1rem;
  color: #808080;
  line-height: 1.5rem;
  cursor: pointer;
}
#inner-left .inner-left-body .left-body-profile .profile-history div i:first-child {
  margin-right: -5px;
}
#inner-left .inner-left-body .left-body-profile .profile-history div i:last-child {
  margin-left: -5px;
}
#inner-left .inner-left-body .left-body-profile .profile-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #071878;
  padding: 10px 4px;
}
#inner-left .inner-left-body .left-body-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  background: #f3f3f3;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#inner-left .inner-left-body .left-body-footer .music-controller {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
#inner-left .inner-left-body .left-body-footer .music-controller .control-btn {
  font-size: 1.6rem;
  cursor: pointer;
}
#inner-left .inner-left-body .left-body-footer .music-controller .progress-bar {
  width: 60px;
  height: 5px;
  background: #ff5722;
  position: relative;
  cursor: pointer;
}
#inner-left .inner-left-body .left-body-footer .music-controller .progress-bar .progress {
  width: 0%;
  height: 100%;
  background: #f3f3f3;
}
#inner-left .inner-left-body .left-body-footer .music-controller .volume-control {
  display: flex;
  align-items: center;
  gap: 10px;
}
#inner-left .inner-left-body .left-body-footer .music-controller .volume-control input {
  width: 60px;
}

/* ==== inner-right ==== */
#inner-right {
  width: 524px;
  height: 472px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#inner-right .inner-right-header {
  display: flex;
  justify-content: space-between;
}
#inner-right .inner-right-header .header-title {
  color: #55b2e4;
  font-weight: nomal;
}
#inner-right .inner-right-header .header-privacy {
  font-size: 1rem;
  line-height: 2;
  padding-right: 3px;
  color: #808080;
}
#inner-right .inner-right-body {
  width: 100%;
  height: 445px;
  border: 1px solid #000;
  border-radius: 14px;
  background: #fff;
}
#inner-right .inner-right-body iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

/* ==== navigation ==== */
#navigation {
  width: 70px;
  height: 140px;
  position: absolute;
  top: 20%;
  right: -69px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#navigation .navigation-item {
  background: #55b2e4;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border: 1px solid #000;
  border-radius: 0 10px 10px 0;
  font-size: 1.6rem;
  cursor: pointer;
}