$color: (
  light: #fff,
  dark: #000,
  theme: #55b2e4,
  accent: #dc143c,
  accent2: #55b2e4,
  gray: #808080,
  lightgray: #999797,
  border: #ddd,
  button: #f6f6f6,
  footerBg: #f3f3f3,
  result: #ff0,
  artist: #0f465e,
  table: #eee,
  hisBtn: #ff9a16,
  name: #071878,
  select: #cfe2f3,
  music-name: #0a4f76,
  music-artist: #555,
  progress: #ff5722,
);

$font: (
  embed-font-family: "Nanum Brush Script",
  press-font-family: "Press Start 2P",
);
