* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scene {
  width: 200px;
  height: 200px;
  margin: 100px;
  perspective: 600px;
}

.cube {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.cubeFace {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  opacity: 1;
  backface-visibility: hidden;
}

.cubeFace-front {
  background-color: red;
  transform: rotateY(0deg) translate3d(0, 0, 100px);
}

.cubeFace-right {
  background-color: green;
  transform: rotateY(90deg) translate3d(0, 0, 100px);
}

.cubeFace-back {
  background-color: blue;
  transform: rotateY(180deg) translate3d(0, 0, 100px);
}

.cubeFace-left {
  background-color: yellow;
  transform: rotateY(-90deg) translate3d(0, 0, 100px);
}

.cubeFace-top {
  background-color: brown;
  transform: rotateX(90deg) translate3d(0, 0, 100px);
}

.cubeFace-bottom {
  background-color: pink;
  transform: rotateX(-90deg) translate3d(0, 0, 100px);
}
