* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
h1 {
  background: crimson;
} */

p {
  color: brown;
  &#special {
    color: dodgerblue;
  }
}

/* li {
  &#second,
  &#fourth {
    background: aqua;
  }
} */

.bgStyle {
  background: aqua;
}

/* input {
  &[type="text"] {
    background: crimson;
  }
  &[type="password"] {
    background: dodgerblue;
  } 
}*/

#header {
  & > h1 {
    color: brown;
  }
}

#listEx {
  #firstLi + li {
    color: palevioletred;
  }
  #firstLi ~ li {
    font-size: 30px;
  }
}

h3:hover {
  color: aqua;
  &:active {
    color: crimson;
  }
}

input {
  &:enabled {
    background: greenyellow;
  }
  &:disabled {
    background: gainsboro;
  }
  &:focus {
    background: tomato;
  }
}
